@import "tailwindcss";

@layer base {
	*, ::before, ::after {
		box-sizing: content-box;
		border-width: initial;
		border-style: none;
		border-color: initial;
	}

	html {
		line-height: normal;
	}

	body, h1, h2, h3, h4, h5, h6, p, figure {
		margin: initial;
	}

	ul, ol {
		margin: initial;
		padding: initial;
	}

	table {
		border-collapse: separate;
		text-indent: initial;
	}
}
